<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/Account/forgotpass.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 id="title1">Please enter your email to get a code sent</h1>

        <div class="resetContainer">
            <p class="inpText1">Email:</p>
            <input placeholder="Email" class="inpBox1">
            
            <button class="btn1">Send Email</button> <!-- sends reset email -->
        </div>

    </div>
</body>
</html>