<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Account/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 id="title1">Login</h2>
        <div class="loginContainer">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color:red">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post" action="{{url_for('login_reg.user_login')}}">
                <p class="inpText1">Email:</p>
                <input placeholder="Email" class="inpBox1" name="email" required type="email">
                <p class="inpText1">Password:</p>
                <input type="password" name="password" class="inpBox1" placeholder="Enter password" required>
                <button class="btn1" type="submit">Login</button>
            </form>
            
        </div>

        <a id="signin" href="{{ url_for('login_reg.register') }}">New user? Signup</a> 
        <a id="forgotpass" href="{{ url_for('login_reg.forgot_pass') }}">Forgot Password?</a> 
    </div>
</body>
</html>